sudo: required
language: ruby
rvm:
  - 2.4.0
before_install: gem install bundler
cache:
  directories:
   - vendor/bundle

script:
  - rspec
  
deploy:
  provider: rubygems
  api_key: "bcc5d3ff98af614e950b21a2df77af20"
  gem: paystack
